body
{
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: arial, helvetica, sans-serif;
	font-size: 13px;
	background-color: #F9F9F9;
	color: #000;
}
a
{
	color: #3B433A;
}
div#pts_header_top
{
	width: 100%;
	margin: 0;
	color: #FFF;
	background-color: #2b6b29;
	border: solid #000;
	border-width: 0 0 1px;
}
div#pts_header_top_center
{
	width: 1030px;
	margin: 0 auto;
	overflow: hidden;
}
div#pts_header_top_title
{
	font-size: 42px;
	font-weight: bold;
	float: left;
}
div#pts_header_top_link_group
{
	padding: 14px 0 0;
	float: right;
}
div#pts_header_top_link_group a
{
	margin: auto 6px;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	color: #FFF;
	padding: 4px 8px;
	border: solid #EEE 1px;
}
div#pts_header_top_link_group a:hover
{
	color: #000;
	background-color: #FFF;
}
div#pts_container
{
	text-align: left;
	width: 920px;
	margin: 0 auto;
	overflow: hidden;
	border: solid #EEE;
	border-width: 0 1px;
	min-height: 700px;
	background-color: #FFF;
}
div.pts_box
{
	text-align: left;
	border: solid #969696 1px;
	margin: 10px 10px 20px;
	padding: 1px 10px 15px;
}
div#pts_header_bottom a
{
	color: #FFF;
}
div#pts_header_bottom
{
	width: 100%;
	margin: 0;
	color: #FFF;
	background-color: #2b6b29;
	border: solid #000;
	border-width: 1px 0 0;
}
div#pts_header_bottom_center
{
	margin: 2px auto;
	padding: 6px 0 10px;
	width: 970px;
	overflow: hidden;
	font-size: 12px;
	text-align: center;
}
div.pts_column_head
{	
	font-size: 13px;
	color: #FFF;
	text-align: center;
	margin: 0 3px;
	background-color: #2b6b29;
	font-weight: bold;
	float: left;
	border: solid #3B433A;
	border-width: 1px;
}
div.pts_column_body
{	
	font-size: 12px;
	color: #000;
	text-align: center;
	margin: 0 3px;
	background-color: #F8F8F8;
	float: left;
	border: solid #66695B;
	border-width: 0 1px 1px;
}
h1
{
	margin-top: 10px;
	font-size: 21px;
	color: #2b6b29;
	font-weight: bold;
}
div.pts_chart_box
{
	width: 95%;
	overflow: hidden;
	margin: 5px auto;
}
div.pts_chart_box a
{
	text-decoration: none;
	font-weight: bold;
}
div.pts_chart_box a:hover
{
	text-decoration: underline;
}
div#pts_benchmark_area
{
	background-color: #FFF;
	width: 95%;
	margin: 10px auto;
	color: #000;
	overflow: hidden;
}
div.pts_benchmark_bar
{
	background-color: #2b6b29;
	color: #FFF;
	padding: 4px;
	border: solid #000 1px;
	clear: both;
}
span.pts_benchmark_bar_header
{
	font-size: 18px;
	font-weight: bold;
}
span.pts_benchmark_bar_version
{
	vertical-align: super;
	padding-left: 5px;
	font-size: 10px;
}
div.pts_benchmark_text
{
	padding: 50px 15px 15px;
	float: left;
	overflow: hidden;
}
div.pts_benchmark_img_area
{
	padding: 15px 0 15px 35px;
	float: right;
	overflow: hidden;
	height: 100%;
	vertical-align: middle;
}
